@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://use.typekit.net/rcr1opg.css");

@import "./buttons.scss";
@import "./mixins.scss";
@import "./special-effects.scss";
@import "./tags.scss";
@import "./ui.scss";

// Typekit is a provider of webfonts. They probably are the only service that
// benefits from having the script in the head, because it blocks rendering
// while the fonts download, thus preventing a FOUT (flash of unstyled text)
// The script works by fetching some css files that contain the fonts in base64
// encoding.

// https://github.com/fireship-io/fireship.io/blob/master/styles/app.scss

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    display: block;
    font-size: 13px;
    color-scheme: dark;
    @media (min-width: 1024px) {
        font-size: 16px;
    }
}

body {
    @apply prose prose-invert w-screen dark:bg-gray7 dark:prose-invert dark:text-gray1;
    background: linear-gradient(
        176deg,
        rgba(18, 24, 28, 1) 50%,
        rgba(32, 39, 50, 1) 100%
    );
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
    @include scrollbar;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display font-bold;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    width: auto;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    @apply mx-auto max-w-screen-2xl;
}

.grid-list {
    @apply grid list-none auto-cols-max grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

Link,
a {
    @apply no-underline hover:underline;
}

.btn {
    @apply no-underline hover:no-underline;
}

video-player {
    iframe {
        @apply absolute top-0 left-0 h-full w-full;
    }
}

footer {
    display: flex;
    flex: 1;
    // padding: 2rem 0;
    // border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo {
    @apply ml-6 min-h-[1rem] font-bold;
}
