// top of navbar scroll progress bar.
.progress-bar {
    @apply fixed top-0 left-0 right-0 h-1 bg-blue-700;
    transform-origin: 0% !important;
}

// Top navbar gif background.
.logo-gif {
    #logoBg {
        display: none;
    }

    &:hover {
        #logo {
            display: none;
        }

        #logoBg {
            display: block;
        }
    }
}

// Gradient Slide.

.gradient-text {
    @apply bg-gradient-to-t from-blue-500 to-blue-400 bg-clip-text text-transparant;
    -webkit-background-clip: text;

    &-green {
        @apply from-green-700 to-green-400;
    }

    &-pink {
        @apply from-pink-700 to-pink-400;
    }
}

.gradient-slide {
    @apply bg-gradient-to-t from-orange-500 to-yellow-400 bg-clip-text text-transparant;
    background-size: 200% 100%;
    animation: gradiant-move 2s ease-in-out infinite;
    -webkit-background-clip: text;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: rgba(0, 0, 0, 0);
    }
}
